<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Legible logs for local development -->
  <springProfile name="dev,default">
    <!-- Spring Boot defaults -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>

  <!-- JSON logs for DataDog supported environments -->
  <springProfile name="prod">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>{"date":"%d{yyyy-MM-dd HH:mm:ss.SSSSSS}","CorrelationID":"%X{CorrelationID}","level":"%level","class":"%class","message":"%replace(%message){'[\r\n]+',' '}","json":"%replace(%X{json:-""}){'[\r\n]+',' '}","exception":"%replace(%exception){'[\r\n]+',' '}%nopexception"}%n</pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="org.apache.catalina" level="WARN" />
  </springProfile>
</configuration>